html,
body {
  overflow-x: hidden!important;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background: #fbfdff url(https://ohmslawcalculator.com/static/img/grid.png) repeat 0 0;
  color: #111111;
}
a {
  color: #3c8dbc;
}
ul {
  list-style-image: url(blubul1a.gif);
}
ul ul {
  list-style-image: url(blubul2a.gif);
}
ul ul ul {
  list-style-image: url(blubul3a.gif);
}
a:link {
  color: #3366ff;
}
a:active {
  color: #000066;
}
a:visited {
  color: #9900ff;
}
body {
  background-color: ;
  color: #003399;
}
h1 {
  color: #000099;
}
h2 {
  color: #000099;
}
h3 {
  color: #000099;
}
h4 {
  color: #000099;
}
h5 {
  color: #000099;
}
h6 {
  color: #000099;
}
button {
  background-color: #000099;
  color: #ffffff;
}
label {
  color: #003399;
}
textarea {
  color: #000000;
}
fieldset {
  color: #0b0000;
}
legend {
  color: #000099;
}
select {
  color: #000000;
}
caption {
  color: #000099;
}
th {
  color: #003399;
}
body {
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
}
button {
  border-style: solid;
  border-width: 1pt;
  font-size: 8pt;
  font-style: normal;
  font-family:'Trebuchet MS','Lucida Sans Unicode', Arial,Helvetica;
}
caption {
  font-weight: bold;
}
fieldset {
  border-style: solid;
  border-width: 1pt;
  font-family:'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-size: 8pt;
  font-style: normal;
}
h1 {
  font-weight: bold;
  font-size: 24pt;
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
}
h2 {
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-style: normal;
  font-size: 18pt;
  font-weight: normal;
}
h3 {
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-size: 14pt;
  font-weight: normal;
  font-style: normal;
}
h4 {
  font-weight: normal;
  font-size: 12pt;
  font-style: normal;
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
}
h5 {
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
}
h6 {
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
label {
  font-style: normal;
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-size: 8pt;
}
label {
  font-size: 8pt;
  font-family:'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-style: normal;
}
legend {
  font-style: normal;
  font-size: 8pt;
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
}
marquee {
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-size: 14pt;
}
select {
  border-style: solid;
  font-family:'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-style: normal;
  font-size: 8pt;
}
table {
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-style: normal;
}
textarea {
  border-style: solid;
  font-style: normal;
  font-size: 8pt;
  font-family:'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
}
th {
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  font-style: normal;
}
.ThemeTable {
  border: 1px solid #3366ff;
  padding: 2px;
  font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
  text-decoration: none;
  font-weight: normal;
  text-transform: none;
  background-color: white;
  text-align: center;
  margin-left: auto;
  font-size: 16px;
  font-style: normal;
  margin-right: auto;
}
.ThemeTable td {
  border: 1px solid #3366ff;
  padding: 10px;
  background-color: white;
}
blockquote {
  font-style: italic;
  color: #006600;
}
q {
  font-style: italic;
  color: #006600;
}
.TableCentre {
  margin: auto;
}
.CVS,.SVN,.VER {
	font-family: 'Trebuchet MS','Lucida Sans Unicode',Arial,Helvetica;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
}