body {
  font-family: arial, sans-serif;
  font-size:1em;
  margin-left: 1em;
  margin-right: 1em;
  COLOR: black;
  background-image: url('../graphics/MIback.gif');
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
svg {
  border: 0px;
  display: block;
  margin: auto;
  width: 25em;
  height: 12.5em;
}
@media screen {
  svg {
    width: 100%;
  }
}
h1{
  TEXT-ALIGN: center;
  font-size:160%;
}
p {
  TEXT-ALIGN: justify;
  font-size:140%;
  line-height:1.2;
  margin: 0 0;
}
p.small {
  TEXT-ALIGN: justify;
  font-size:100%;
  line-height:1;
  margin: 0 0;
}
strong {
  font-weight: bold;
  COLOR: red; 
}
em {
  font-style: italic;
}
#problem {
  TEXT-ALIGN: justify;
  font-size:120%;
  line-height:1.2;
  margin: 1em 0;
  min-height: 2.4em;
}
#solution {
  TEXT-ALIGN: left;
  font-size:110%;
}
input {
    font-size:100%;
	TEXT-ALIGN: center;
}
input[type="text"]:disabled {
    background: #dddddd;
}
select {
    font-size:100%;
	TEXT-ALIGN: center;
}
#Resistor{
    font-size:120%;
	TEXT-ALIGN: center;
}
.group{
    display: inline-block;
	TEXT-ALIGN: center;
}

.group1{
    display: inline-block;
	TEXT-ALIGN: center;
}
.group2{
    display: inline-block;
	min-width: 300px;
	vertical-align: top;
}
.centered {
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}
br.spacing {
font-size:150%;
}

.styled-button {
	background: #25A6E1;
	padding:3px 8px;
	color:#fff;
	font-family: arial, sans-serif;
	font-size:100%;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}                